body {
    background-color: #94D7E4;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    margin-top: 2%;
    font-size: 50px;
}

#items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#items a {
    border: 5px solid red;
    background-color: rgb(216, 158, 92);
    font-weight: bolder;
    color: black;
    width: 200px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
}