body {
    background-image: url("cool-background.png");
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    margin-top: 2%;
    font-size: 50px;
}

#items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#items a {
    margin: 3%;
    border: 5px solid yellowgreen;
    background-color: #00239C;
    font-weight: bolder;
    color: white;
    width: 200px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
    transition: all 0.5s;
}

#items a:hover {
    transform: scale(1.4);
    filter: hue-rotate(60deg);
}
